In [1]:
# datatypes
#1.	Construct 2 lists containing all the available data types  
#(integer, float, string, complex and Boolean) and do the following..

list1=[12,12.4,'anu',45+4j,True]
list2=[12,4.5,'radha',45+4j,False]

In [2]:
#	Create another list by concatenating above 2 lists
list3=list1+list2
print(list3)

[12, 12.4, 'anu', (45+4j), True, 12, 4.5, 'radha', (45+4j), False]

In [3]:
# Find the frequency of each element in the concatenated list.

#count  of 12
count=list3.count(12)
print("The count of 12 is", count)

The count of 12 is 2

In [4]:
#count of 12.4
count=list3.count(12.4)
print("The count of 12.4 is", count)

The count of 12.4 is 1

In [5]:
#count of anu
count=list3.count('anu')
print("The count of anu is",count)

The count of anu is 1

In [6]:
#count of 45+4J
count=list3.count(45+4j)
print("The count of 45+4j is",count)

The count of 45+4j is 2

In [7]:
#count of true
count = list3.count(True)
print("The count of true is",count)

The count of true is 1

In [8]:
#count of 4.5
count=list3.count(4.5)
print("The count of 4.5 is", count)

The count of 4.5 is 1

In [9]:
#count of false
count=list3.count(False)
print("The count of false is",count)

The count of false is 1

In [10]:
#c.	Print the list in reverse order.

list3.reverse()

print(list3)

[False, (45+4j), 'radha', 4.5, 12, True, (45+4j), 'anu', 12.4, 12]

In [11]:
# 2.Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in 
# other set)
set1= {1,2,3,4,5,6,7,8,9,10}
set2= {5,6,7,8,9,10,11,12,13,14,15}

In [12]:
# a.Find the common elements in above 2 Sets.
set3= set1 & set2
print(set3)

{5, 6, 7, 8, 9, 10}

In [13]:
# b.Find the elements that are not common.

set1= {1,2,3,4,5,6,7,8,9,10}
set2= {5,6,7,8,9,10,11,12,13,14,15}
set3=set1-set2
print(set3)

{1, 2, 3, 4}

In [14]:
# remove 7 from both the set

set1.remove(7)
print(set1)
set2.remove(7)
print(set2)

{1, 2, 3, 4, 5, 6, 8, 9, 10}
{5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

In [15]:
#3.	Create a data dictionary of 5 states having state name as key and number of covid-19
# cases as values.
corona_cases={'Karnataka':50000, 'Maharashtra':70000, 'Gujrat':65000, 'Andhrpradesh':75000, 'Goa':35000}

In [16]:
#a.	Print only state names from the dictionary.
corona_cases.keys()

dict_keys(['Karnataka', 'Maharashtra', 'Gujrat', 'Andhrpradesh', 'Goa'])

In [17]:
#b.	Update another country and its covid-19 cases in the dictionary.
corona_cases['China']='250000'
print(corona_cases)

{'Karnataka': 50000, 'Maharashtra': 70000, 'Gujrat': 65000, 'Andhrpradesh': 75000, 'Goa': 35000, 'China': '250000'}

In [19]:
# operators

#Please implement by using Python
# 1.	A. Write an equation which relates   399, 543 and 12345 
x=12345
y=543
z=399
#compute the quotient and remainder
q=x//y
print(q)
r=x%y
print(r)
#check if the quotient and remainder value match
result=22*y+z
if x==result:
    print("It is valid relation")
else:
    print("no relation")

22
399
It is valid relation

In [20]:
#B.  “When I divide 5 with 3, I get 1. But when I divide -5 with 3, I get -2”—How would you justify it?

#When we divide two integer in python using /operator the result is floating number.
#If we use //(floor division operator)it divides number and round the result down to nearest integer.
a=5
b=3
c=-5

#by using division
 
print(a//b)
print(c//b)

1
-2

In [21]:
# 2.a=5,b=3,c=10.

a=5
b=3
c=10

#. What will be the output of the following:
# A. a/=b

a/=b
print(a)
  
#B  c*=5

c*=5
print(c)

1.6666666666666667
50

In [22]:
# 3. A. How to check the presence of an alphabet ‘S’ in the word “Data Science” .

word="Data science"
if "s" in word:
    print("s is in word")
else:
    print("s is not in word")

s is in word

In [23]:
#B. How can you obtain 64 by using numbers 4 and 3 .

print(4**3)

64

In [24]:
#Variables
#Please implement by using Python

#1.	What will be the output of the following (can/cannot):
#a.	Age1=5

#can happen
Age1=5
print(Age1)

5

In [25]:
#b.5age=55

#cannot happen
5age=55
print(5age)

SyntaxError: invalid decimal literal (1910917133.py, line 4)

In [26]:
#2.	What will be the output of following (can/cannot):
#a.	Age_1=100

#can happen
Age_1=100
print(Age_1)

100

In [27]:
#b.age@1=100

#cannot happen
age@1=100
print(age@1)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3500672275.py, line 4)

In [28]:
#3.	How can you delete variables in Python ?
#you can delete variables in python by using del statement.

my_var=7
del(my_var)
print(my_var)

NameError: name 'my_var' is not defined